{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "node": "current"
        }
      },
    ], "@babel/preset-flow"
  ],
  "plugins": ["transform-class-properties", ["module-resolver", {
    "root": ["./src"],
    "alias": {
      "@": "./src"
    }
  }], ["babel-plugin-inline-import", {
    "extensions": [
      ".txt"
    ]
  }]]
}
